.postsect {
    padding: 90px 145px 0;
}

.postsect {
    position: relative;
    padding-bottom: 22px;

    

    h1 {
        margin: 0 0 20px 0;
        color: #1B264A;
        font-weight: 700;
        font-size: 32px;
        line-height: 52px;
        text-align: center;
    }

    .subtitle {
        max-width: 637px;
        margin: 0 auto 20px;
        text-align: center;
        color: #425387;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
    }

    .tags {
        text-align: center;
        margin-bottom: 11px;

        span {
            border: 1px solid #365359;
            border-radius: 20px;
            background: #F0F2F2;
            height: 26px;
            min-width: 89px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 8px 4px;
        }
    }

    h2 {
        color: #1B264A;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        margin: 0 0 20px 0;
    }

    h3 {
        color: #1B264A;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        margin: 0 0 20px 0;
        margin-top: 26px;
    }

    h4,
    h5,
    h6 {
        color: #1B264A;
        font-weight: 700;
        font-size: 21px;
        line-height: 40px;
        margin: 0 0 20px 0;
    }

    p {
        margin-bottom: 20px;
        color: #425387;
        font-size: 18px;
        line-height: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .textsect {
        padding-left: 10px;
    }










    .postimgpublish {
        text-align: right;
        margin: 0 0 6px 0;
        color: #425387;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    .postimgfullw {
        margin-bottom: 52px;

        img {
            width: 100%;
            filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.25));
            border-radius: 40px;
        }
    }

}

.similarblogs {
    padding: 36px 145px 72px;
}

.similarblogs {
    h2 {
        margin: 0 0 24px 0;
        color: #1B264A;
        font-weight: 700;
        font-size: 32px;
        line-height: 52px;
    }

    .featuredblogs__wrapper {
        margin-top: 0;
    }
}

.waitlist.circlebox__clear {
    padding: 0 115px 120px 115px;

    .circlebox {
        padding: 0;
        max-width: 472px;
        background: none;
    }

    .joinform__title {
        font-size: 32px;
        line-height: 52px;
    }
}

.postmainsect {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
    align-items: center;

    .postmainsect__left {
        width: 100%;
        max-width: 46.5%;
        flex: 0 0 46.5%;
        padding-right: 84px;

        .descr {
            p {
                color: #425387;
                font-size: 18px;
                line-height: 28px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .postmainsect__right {
        width: 100%;
        max-width: 53.5%;
        flex: 0 0 53.5%;

        img {
            width: 100%;
            filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.25));
            border-radius: 40px;
        }
    }
}

.datepost {
    text-align: right;
    margin-top: 27px;
    position: relative;
    padding-bottom: 5px;

    span {
        display: inline-block;
        color: #425387;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        max-width: 1440px;
        height: 2px;
        background: #D9D9D9;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.waitlist.post {
    padding-left: 115px;
    padding-right: 115px;
}






@media (max-width:1199.8px) {
    .postsect {
        padding: 80px 60px 36px;
    }

    .postsect h1 {
        font-size: 32px;
    }

    .similarblogs h2 {
        font-size: 26px;
    }

    .waitlist.circlebox__clear .joinform__title {
        text-align: left;
    }

    .postmainsect .postmainsect__left,
    .postmainsect .postmainsect__right {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .postmainsect .postmainsect__right  {
        margin-top: 20px;
    }

    .postmainsect .postmainsect__left {
        padding-right: 0;
    }

    .postsect {
        padding-bottom: 0;
    }

    .similarblogs,
    .waitlist.post {
        padding-left: 60px;
        padding-right: 60px;
    }

}

@media (max-width:991.8px) {
    .postsect {
        padding-top: 50px;
    }

    .postsect .subtitle {
        font-size: 18px;
    }

    .similarblogs {
        padding: 36px 60px 97px;
    }

    .waitlist.circlebox__clear {
        padding: 0 60px 80px 60px;
    }
}

@media (max-width:575.8px) {
    .postsect {
        padding: 40px 15px 30px;
    }

    .postsect h1 {
        font-size: 28px;
        line-height: 160%;
        margin-bottom: 10px;
    }

    .postsect .subtitle {
        font-size: 16px;
        line-height: 160%;
    }

    .postsect .tags span {
        margin: 0 3px;
        font-size: 14px;
    }

    .postsect .postimgfullw {
        margin-bottom: 40px;
    }

    .postsect .textsect {
        padding-left: 0;
    }

    .postsect h3 {
        line-height: 160%;
    }

  

    .similarblogs {
        padding: 30px 15px 60px;
    }

    .similarblogs h2 {
        font-size: 21px;
        line-height: 160%;
        margin-bottom: 15px;
    }

    .waitlist.circlebox__clear {
        padding: 0 15px 30px 15px;
    }

    .similarblogs,
    .waitlist.post {
        padding-left: 15px;
        padding-right: 15px;
    }

    .postsect p,
    .postmainsect .postmainsect__left .descr p {
        font-size: 16px;
    }

}